:root {
  --primary-color: rgb(255 255 255);
  --primary-color-var1: rgb(255 255 250);

  --secondary-color: rgb(226 232 240);
  --secondary-color-var1: rgb(139, 139, 139);
  --secondary-color-var2: rgb(68, 68, 68);
  --contrast-color: rgb(0 0 0);
  --accent-color: rgb(25 146 212);
  --accent-color-var1: rgb(10 131 197);

  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.17rem;

  font-family:
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif, system-ui;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem); /*option*/
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

a {
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-areas: "nav header" "nav main";

  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;

  height: 100vh;
}

.nav-wrapper {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--primary-color);
  background-color: var(--accent-color);
  padding-top: 0.5rem;
  padding-left: 1rem;
  z-index: 100;
}

.header-wrapper {
  grid-area: header;
  display: grid;
  grid-template-rows: 2fr 3fr;
  gap: 1.5rem;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  box-shadow: 0px 2px 20px 2px var(--secondary-color-var1);
  z-index: 50;
}

.main-wrapper {
  grid-area: main;
}

.nav-header,
.nav-row {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.svg-h1 {
  width: calc(1.5 * var(--font-size-h1));
}

.svg-nav-item {
  width: calc(var(--font-size-h2));
  margin-right: 4px;
}

.svg-h1,
.svg-nav-item {
  justify-self: end;
  align-self: center;
}

.nav-title {
  font-size: var(--font-size-h1);
}

.nav-item {
  font-size: var(--font-size-h2);
}

.nav-title,
.nav-item {
  padding-left: 2rem;
  justify-self: start;
  align-self: center;
}

.nav-item a {
  color: var(--primary-color);
  font-weight: 500;
}

.nav-item a:active {
  opacity: 0.3;
  color: var(--contrast-color);
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-input {
  width: clamp(100px, 40vw, 700px);
  border-radius: 10px;
  border-style: none;
  background-color: var(--secondary-color);
  padding-inline: 0.8em;
  height: 1.5lh;
}

.svg-header {
  width: calc(var(--font-size-h2));
}

.header-icons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-right: 4rem;
}

.user-picture-small img {
  width: calc(var(--font-size-h2) * 2);
  border-radius: 50%;
}

.user-id {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.user-id img {
  width: calc(var(--font-size-h2) * 3);
  border-radius: 50%;
}

.greetings-name {
  font-size: var(--font-size-h2);
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-btn-link {
  background-color: var(--accent-color);
  border-radius: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  list-style: none;
  color: var(--primary-color);
  font-size: var(--font-size-h2);
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.header-btn-link:active {
  background-color: var(--accent-color-var1);
  color: var(--secondary-color-var1);
}

.main-wrapper {
  display: grid;
  grid-template-areas: "project announcement" "project trending";

  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;

  padding: 2rem;
  gap: 2rem;
}

.card-container {
  grid-area: project;
}

.projects-title {
  padding-bottom: 1rem;
  font-weight: 500;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card-item {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 1rem;
}

.card-text {
  color: var(--secondary-color-var1);
}

.announcements-container {
  grid-area: announcement;
}
/**/
.main-wrapper {
  background-color: var(--secondary-color);
}
